* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Common Style */
.width-50 {
  width: 50%;
}
.btn {
  padding: 20px 40px;
  border-radius: 40px;
  color: white;
  border: 1px solid transparent;
  width: fit-content;
}
.btn-main {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-second {
  background: #4EC5F7;
}
.g-color {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Nav Bar Design */
nav {
  padding: 0 240px;
}
.nav-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-logo h3 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.nav-g {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links,
.nav-logo,
.nav-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-logo img {
  height: 40px;
}
.nav-menu ul {
  display: flex;
}

.nav-menu a {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  padding: 1px 15px;
}

.nav-btn {
  margin: 40px 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;

}

.nav-btn h6{
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

/* Hero Section Design */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 240px;
  background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-section h3 {
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
}
.hero-section h1 {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-icon-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-icon-card img {
  height: 20px;
  width: 20px;
}
.hero-icon-card p {
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}
.btn-set {
  display: flex;
  gap: 20px;
}
.hero-right-img img{
  width: 100%;
}


/* gamer-section */
.gamer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-section img {
  width: 100%;
}
.game-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.game-text h3 { 
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game-text p { 
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.game-text h4 { 
  color: #534C64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.game-text h2 { 
  color: #534C64;
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}




/* Funny Videos Section */
.funny-videos {
  margin: 100px 240px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.funny-videos h3 {
  color: #0B0223;
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.funny-videos p {
  color: #534C64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.video-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-card-container p {
  text-align: left;
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.video-card-container img {
  width: 100%;
}



/* Play Instant Section  */
.play-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 240px;
  padding: 50px 0 100px 200px;
}
.play-download h3 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  margin-bottom: 20px;
}
.play-download p {
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.img-2 {
  position: relative;
  display: inline-block;
}
#veshe-thakbe {
  position: absolute;
  bottom: -100px;
  left: -150px;
}



/* Careers section */ 
.careers {
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  display: flex;
  align-items: center;
  padding: 0 0 0 240px;
  justify-content: space-between;
}

.careers h3 {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.careers p {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 20px 0;
}
.two-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.careers h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px; /* 200% */
}
.careers-btn {
  color: #FF42A5;
  padding: 20px 40px;
  border-radius: 40px;
  border: 1px solid transparent;
}
.careers img {
  width: 100%;
}



/* card-showcase */
.card-showcase {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 120px 240px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.small-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 15px 10px;
  transition: color .3s, border .3s;
}
.small-card:hover {
  color: #FF42A5 ;
  border: 1px solid #FF42A5 ;
}
 
.small-card h6 {
  color: #0B0223;
  font-size: 20px;
  font-weight: 600;
}

/* footer */

footer {
  background: #0B0223;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.foot-g {
  color: white;
}
.footer-menu ul {
  display: flex;
}
.footer-menu a,
.foot-logo {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
}
.foot-logo img {
  margin: 0 30px;
}
.color-deem,
.color-deem > ul > li > a {
  color: rgba(255, 255, 255, 0.60);
}







@media screen and (max-width: 576px) {
  nav {
    padding: 0 3rem;
  }
  .width-50 {
    width: 100%;
  }
  /* Nav bar Design */
  .nav-bar {
    margin-top: 2rem;
  }
  .nav-bar,
  .nav-links,
  .nav-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  


  /* Hero Section Design */

  .hero-section {
    flex-direction: column-reverse;
    padding: 0 30px;
    align-items: center;
  }
  .hero-text{
    padding: 100px 0;
  }
}